@import url(./font.css);

body{
    background-color: #1c1c1c;
    padding-top: 70px;

}
/* style.css */
.navbar-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .container-wrapper {
    overflow: hidden;
  }
.container{
    
    font-family: 'Roboto', sans-serif;
}
#menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline-block;
}
#menu li a{
    padding: 10px 10px;
    display: block;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    text-decoration: none;
    font-size: 18px;
    
}
#menu li a:hover{
    border-bottom:2px solid #DB4027;
    padding-bottom: 3px;
    font-size: 22px;
}

.hello{
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
    color: white;
}
.ani{
    font-family: 'Bungee Spice', cursive;
    font-size:50px;
    color: white;
}
.dev{
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
    color: white;
}
.btn{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
   color:white;
   background-color: #DB4027;
   padding: 0.5em 1.5em;
   border-radius: 100px;
   text-decoration:none;
   font-style:bold;
}
.btn:hover{
    background-color: white;
    color: #DB4027;
    box-shadow: 5px 5px 2px #DB4027;
}
.my{
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    font-size:30px;
    color: white;
}
.what{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    color: white;
}
.ach1{
    text-align: center;
}
.ach1 i.fa-solid{
    font-size: 50px;
    margin-bottom: 10px;
}
.ach1 i.fa-regular{
    font-size: 50px;
    margin-bottom: 10px;
}
.btn0{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
   color:white;
   background-color: #ebb434;
   padding: 0.5em 1.5em;
   border-radius: 100px;
   text-decoration:none;
   font-style:bold;
}
.btn1{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
   color:white;
   background-color: white;
   padding: 0.5em 1.5em;
   border-radius: 100px;
   text-decoration:none;
   font-style:bold;
}
.btn2{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
   color:white;
   background-color: #34eb52;
   padding: 0.5em 1.5em;
   border-radius: 100px;
   text-decoration:none;
   font-style:bold;
}
.section-head{
    text-align: center;
}

  /* @media (max-width: 991.98px) {
    /* Media query for small and medium devices */
    /* #banner-2 .h-25,
    #banner-2 .h-75,
    #banner-2 .col-md-6 {
      height: auto;
    }
  } */ 

 .container i.fab{
    font-size: 30px;
    margin-bottom: 10px;
    color: #DB4027;
 }
 .container i.far{
    font-size: 30px;
    margin-bottom: 10px;
    color: #DB4027;
 }
 .container i.fas{
    font-size: 30px;
    margin-bottom: 10px;
    color: #DB4027;
 }
 .dev .text{
    position: relative;
    color: white;
    font-size: 30px;
    font-weight: 600;
}
.dev .first_text{
    color: #FFF;
}
.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1c1c;
    border-left: 2px solid #DB4027;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
