*{
    color: white;
}



.container{
    height:98vh;
    /*border:2px solid white;*/
    display:flex;
    flex-direction:column;
    background-color: #bfcbce;
}
.cont{
    border:2px solid white;
    background-color: #303655;
    height :20%;
    width:90%;
    margin:50px auto;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
}
.box{
    border:2px solid white;
    display:flex;
    height :70%;
    width:80%;
    margin-left:120px;
    margin-bottom:50px;
    margin-right:50px;
    justify-content:space-around;
    background-color: #303655;
}
.send{
    /*border:2px solid black;*/
    width:55%;
    border-right:2px solid black;
}
.addr{
    /*border:2px solid black;*/
    width:40%;
    display:flex;
    flex-direction:column;
    height:100%;
}
.add{
    /*border include*/
    height:50%;
   
}
.phn{
/*border include*/
    height:50%;
    
}
.email{
/*border include*/
    height:45%;
}
.send h2{
    border-bottom:2px solid black;
    width:90%;
}
.form{
    font-family: 'Open Sans', sans-serif;
}
.text input{
    width:90%;
    border:none;
    border-bottom:2px solid black;
    
    outline:none;
}
