@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
*{
    box-sizing:border-box;
}
.header{
    border:2px solid black;
    /*background-image: url(./t0.jpg);*/
    background-color: #303655;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    position: relative;
}
.container{
   height:95vh;
   width: 1200px;
   margin:0px auto;
   border:2px solid black;
    
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}
.navbar{
    border:2px solid black;
    height: 20%;
    
}
.navbar h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
}

.header-content{
    
    border:2px solid black;
    display:flex;
    width: 100%;
    height: 80%;
    justify-content:space-around;
}
.pic img{
    height: 45vh;
}
.navbar h2{
    float:left;
    display:inline-block;
}
.nav-items{
    float:right;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
}
.navbar::after{
    content:"";
    display:block;
    clear:both;
}
.nav-items li{
    display: inline-block;
    padding: 5px;
    color:white;
}
.info{
    text-align: center;
   position:absolute;
    top:50%;
    left: 20%;
    transform:translate(-50%,-50%);
}
.hello{
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
    color: white;
}
.ani{
    font-family: 'Bungee Spice', cursive;
    font-size:50px;
    color: white;
}
.dev{
    font-family: 'Open Sans', sans-serif;
    font-size:30px;
    color: white;
}
.pic{
    position:absolute;
    top:50%;
    right: 10%;
    transform:translate(-50%,-50%);
}
.myskill{
    display:flex;
    flex-direction:column;
    height:60vh;
    border:2px solid black;
    margin-top:10px;
    background-color: #303655;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    position: relative;
}
.head{
    height:20%;
    border:2px solid black;
    text-align:center;
}
.progress{
    display:flex;
    height:80%;
    border:2px solid black;
    justify-content:space-around;
    color: white;
}
.prgrsbar{
    border:2px solid black;
    width:50%;
}
.sinfo{
    border:2px solid black;
    width:50%;
}
.my{
    font-family: 'Roboto', sans-serif;
    font-size:30px;
    text-decoration:underline;
    color: white;
}
.what{
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    color: white;
}
.sinfo h2{
    text-align:center;
    text-decoration:underline;
    color: white;
}
.btn{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
   color:white;
   background-color: skyblue;
   padding: 0.5em 1.5em;
   border-radius: 100px;
   text-decoration:none;
   font-style:bold;
}
.btn:hover{
    box-shadow: 0.3rem 0.3rem;
}
 .prgrsbar{
    font-family: 'Roboto', sans-serif;
    
    display:flex;
    flex-direction: column;
    height:47vh;
}
.binfo{
    margin-top:25px;
    display:flex;
    justify-content:space-between;
}
.brs .line{
    height:5px;
    width:100%;
    background:grey;
    position:relative;
    
}
.brs .line::before{
    content:"";
    position: absolute;
    height:100%;
    left:0;
    top:0;
    background:skyblue;
}
.html::before{
   width:70% 
   
}
.css::before{
width:50%;
}
.js::before{
    width:30%;
}
.sql::before{
    width:20%;
}
.php::before{
    width:10%;
}




